backend/src/workflows/n8n/social_media/Bulk auto-publish videos to social networks with AI copy and client approval.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97b7d7fa-1c7e-480c-8a01-52f63cab87bb",
              "name": "Title",
              "type": "string",
              "value": "={{ $('Google Sheets').item.json.Title }}"
            },
            {
              "id": "72e6c291-ddc2-46f1-960a-ac2036c80105",
              "name": "Copy",
              "type": "string",
              "value": "={{ $('Google Sheets').item.json.Copy }}"
            },
            {
              "id": "f50748ec-1027-458d-b263-1b9c132bd5d2",
              "name": "Status",
              "type": "string",
              "value": "={{ $('Google Sheets').item.json.Status }}"
            },
            {
              "id": "e1a2b3c4-d5e6-f7g8-h9i0-j1k2l3m4n5o6",
              "name": "video_url",
              "type": "string",
              "value": "={{ $('Google Sheets').item.json[\"Video Link\"] }}"
            },
            {
              "id": "f1g2h3i4-j5k6-l7m8-n9o0-p1q2r3s4t5u6",
              "name": "is_drive_file",
              "type": "boolean",
              "value": true
            },
            {
              "id": "row-number-drive",
              "name": "row_number",
              "type": "number",
              "value": "={{ $('Google Sheets').item.json.row_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "64ad92f3-9d1e-4c65-b59a-9ce4475c9b59",
      "name": "Format Drive Content",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        720
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eeb5af9-55a3-47ab-ab27-a87bbd91755c",
              "name": "facebook id (Page Id)",
              "type": "string",
              "value": ""
            },
            {
              "id": "7e3308c5-bf44-4b1e-8d63-8efaccd4f763",
              "name": "board id (Pinterest)",
              "type": "string",
              "value": ""
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "63d4607c-61d9-481a-b129-8b0504a127f7",
      "name": "Social Media Account IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        720
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1ZKbnD7GM6eAHKzyDY98cvz9jMUib1HLU7d9gohYkR3s"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZKbnD7GM6eAHKzyDY98cvz9jMUib1HLU7d9gohYkR3s/edit#gid=0",
          "cachedResultName": "Video"
        },
        "columns": {
          "value": {
            "Status": "Posteado",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Copy",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Copy",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Video Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Plataforma",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha.Hora",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Fecha.Hora",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Día",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Día",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c25e3536-b09e-4bde-854d-a9bb57972093",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1808,
        768
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "057ea0fb-bba4-4394-bcda-c66fe860467b",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['Readable time'] }}",
              "rightValue": "={{ $('Google Sheets').item.json[\"Fecha.Hora\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a46ce20c-1a9b-4e4e-b560-61c18024918f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        736
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Obtener la fecha del Schedule Trigger\nconst triggerData = $('Schedule Trigger').first().json;\nconst originalDate = new Date(triggerData.scheduled || triggerData.timestamp || new Date());\n\n// Convertir a zona horaria de Santiago de Chile\nconst santiagoDate = new Date(originalDate.toLocaleString(\"en-US\", {timeZone: \"America/Santiago\"}));\n\n// Arrays para traducir al español\nconst meses = [\n  'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',\n  'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'\n];\n\nconst diasSemana = [\n  'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'\n];\n\n// Extraer componentes de la fecha\nconst dia = santiagoDate.getDate();\nconst mes = meses[santiagoDate.getMonth()];\nlet horas = santiagoDate.getHours();\nconst ampm = horas >= 12 ? 'pm' : 'am';\n\n// Convertir a formato de 12 horas\nhoras = horas % 12;\nhoras = horas ? horas : 12; // la hora '0' debe ser '12'\n\nconst diaSemana = diasSemana[santiagoDate.getDay()];\n\n// Crear el formato deseado: \"22 de Junio a las 9 am\"\nconst readableTime = `${dia} de ${mes} a las ${horas} ${ampm}`;\n\nreturn [{\n  json: {\n    \"Readable time\": readableTime,\n    \"Day of week\": diaSemana\n  }\n}];"
      },
      "id": "d39b8143-5fd1-43f0-be79-b7ef6edd897d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        624,
        784
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "2c389cf4-340a-4be8-996e-60070c8a1313",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        64,
        704
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1ZKbnD7GM6eAHKzyDY98cvz9jMUib1HLU7d9gohYkR3s"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZKbnD7GM6eAHKzyDY98cvz9jMUib1HLU7d9gohYkR3s/edit#gid=0",
          "cachedResultName": "Video"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Listo para postear "
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "b2657ca6-a139-41ae-a1bb-df29a440e788",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        368,
        768
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "chatId": "Your Chat Id ",
        "text": "=**📹 Resultados de publicación:**\n\n🎯 **Plataforma:** {{ $('Upload a video').item.json.results[0].platform }}\n🔗 **URL:** {{ $('Upload a video').item.json.results[0].post_url }}\n✅ **Éxito:** {{ $('Upload a video').item.json.results[0].success }}\n\n---\n\n🎯 **Plataforma:** {{ $('Upload a video').item.json.results[1].platform }}\n🔗 **URL:** {{ $('Upload a video').item.json.results[1].post_url }}\n✅ **Éxito:** {{ $('Upload a video').item.json.results[1].success }}\n\n---\n\n🎯 **Plataforma:** {{ $('Upload a video').item.json.results[2].platform }}\n🔗 **URL:** {{ $('Upload a video').item.json.results[2].post_url }}\n✅ **Éxito:** {{ $('Upload a video').item.json.results[2].success }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b7fad4f5-df4e-42d9-af67-f04edaaf7a3c",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2160,
        736
      ],
      "webhookId": "6a86891a-9444-45ed-9ff4-b20d3fc71f58",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "user": "JoseAI",
        "title": "={{ $('Social Media Account IDs').item.json.Title }}\n\n{{ $('Social Media Account IDs').item.json.Copy }}",
        "video": "={{ $('Social Media Account IDs').item.json.video_url }}",
        "platform": [
          "instagram",
          "linkedin",
          "tiktok"
        ],
        "operation": "uploadVideo"
      },
      "id": "d316f8c0-da6a-4950-a767-dd42f60af6d9",
      "name": "Upload a video",
      "type": "n8n-nodes-upload-post.uploadPost",
      "position": [
        1520,
        720
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## ⏰ Automatic Trigger\n\n**Runs twice daily:**\n- 9:00 AM\n- 9:00 PM\n\nTimezone: America/Santiago (Chile)\n\nYou can modify these times or add more trigger hours in the Schedule Trigger configuration.",
        "height": 416,
        "width": 280
      },
      "id": "910b32d8-cba5-4e47-a93c-3a6405e1c720",
      "name": "Sticky Note 1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Fetch Scheduled Posts\n\n**Reads Google Sheets** to find posts ready to publish.\n\n**Filter criteria:**\n- Status = \"Listo para postear\"\n- Returns only the first match\n\n**Required columns:**\n- Title, Copy, Video Link\n- Status, Fecha.Hora\n- row_number (for tracking)",
        "height": 544,
        "width": 220
      },
      "id": "74f61584-e9f3-42e3-a105-ea21fbdd09b4",
      "name": "Sticky Note 2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🕐 Time Formatter\n\n**Converts trigger timestamp** to Spanish readable format.\n\n**Output example:**\n\"16 de Octubre a las 9 am\"\n\n**Includes:**\n- Day of week (Spanish)\n- Month name (Spanish)\n- 12-hour format with AM/PM\n- You can change the code with Claude to english and that is it.\n\nThis format must match exactly with the \"Fecha.Hora\" column in Google Sheets.",
        "height": 672,
        "width": 236
      },
      "id": "1a33514c-02b8-4359-aac1-94a9f3f6ef00",
      "name": "Sticky Note 3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✅ Time Validation\n\n**Checks if it's time to post** by comparing:\n\n- Current formatted time (from Code node)\n- Scheduled time in Google Sheets\n\n**If match:**\n✅ Continues to posting workflow\n\n**If no match:**\n❌ Workflow stops here\n\nThis prevents posting at wrong times.",
        "height": 624,
        "width": 188
      },
      "id": "90bb01f5-e10a-4bbc-a8de-4d78555a97a5",
      "name": "Sticky Note 4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 Data Preparation\n\n**Extracts and organizes** post data:\n\n- Title (post title)\n- Copy (caption/description)\n- Status (current status)\n- video_url (Google Drive link)\n- is_drive_file (set to true)\n- row_number (for tracking)\n\nCleans and formats data for upload API.",
        "height": 624,
        "width": 204
      },
      "id": "5b09d158-06f2-41c3-b7e7-0c22b1034f20",
      "name": "Sticky Note 5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🆔 Account Configuration\n\n**Prepares social media account identifiers.**\n\nYou can specify different account IDs for each platform:\n- Facebook ID\n- Pinterest Board ID\n- etc.",
        "height": 464,
        "width": 188
      },
      "id": "b7a23f9f-754d-4b50-bec6-9efc980a5911",
      "name": "Sticky Note 6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🎬 Multi-Platform Upload\n\n**Posts video simultaneously** to:\n- Instagram\n- LinkedIn\n- TikTok\n\n(You can add more Platforms)\n\n**Uses UploadPost API**\n\n**Content includes:**\n- Title + Copy as caption\n- Video from Google Drive URL\n\n**Credentials required:**\nUploadPost API account with connected social media profiles.",
        "height": 608,
        "width": 252
      },
      "id": "3f1959d8-0fa2-4471-bb6c-05e9743b915e",
      "name": "Sticky Note 7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Update Sheet Status\n\n**Marks post as published** in Google Sheets.\n\n**Changes:**\n- Status: \"Listo para postear\" → \"Posteado\"\n\n**Prevents:**\n- Duplicate posts\n- Re-processing same content\n\n**Matches by:** row_number column to ensure accurate update.",
        "height": 560,
        "width": 300
      },
      "id": "c3b5bf60-c186-450b-ab87-36d5fdabb98d",
      "name": "Sticky Note 8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📱 Telegram Notification\n\n**Sends detailed success report** with:\n\n**For each platform:**\n- Platform name\n- Post URL (clickable link)\n- Success status\n\n**Includes results for:**\n- Instagram\n- LinkedIn\n- TikTok\n\nYou'll receive this message immediately after posting completes.",
        "height": 624,
        "width": 300
      },
      "id": "5ffd9e1c-5d7d-46f9-82b6-302e47e39fa1",
      "name": "Sticky Note 9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Automated Social Media Video Posting\n\n## 🎯 Complete workflow for scheduling and posting videos to Instagram, LinkedIn, and TikTok\n\n### Key Features:\n✅ Automated scheduling (twice daily)\n✅ Multi-platform posting\n✅ Status tracking in Google Sheets\n✅ Telegram notifications\n✅ Duplicate prevention",
        "height": 1248,
        "width": 2432,
        "color": 3
      },
      "id": "b6c15ed8-fbcb-4d25-bd49-f000212157c2",
      "name": "Sticky Note Main",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Sheets \n\nhttps://docs.google.com/spreadsheets/d/1ZKbnD7GM6eAHKzyDY98cvz9jMUib1HLU7d9gohYkR3s/edit?usp=sharing",
        "height": 192
      },
      "id": "b499f534-d2b2-4628-bcad-31ab833dce82",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        1024
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Format Drive Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Drive Content": {
      "main": [
        [
          {
            "node": "Social Media Account IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Account IDs": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b3e0310-2cdc-45dc-ab8c-62605d2f5b05",
  "meta": {
    "instanceId": "0ab6c930d4b3510bd213503110294aa13c64c39cd77abd213e349cc60c946f9d"
  },
  "id": "NelydervoUwikCcL",
  "tags": []
}