backend/src/workflows/n8n/social_media/Tumblr.json
{
  "name": "Tumblr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "282b6873-5dfc-4c25-ac2f-8417af7a2198",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3bf2f934-a6db-4229-8a59-2b828d054303",
      "name": "Webhook",
      "webhookId": "282b6873-5dfc-4c25-ac2f-8417af7a2198"
    },
    {
      "parameters": {
        "jsCode": "// Normalize payload coming from webhook.\n// n8n Webhook node often provides the incoming JSON under $json.body.\n\nconst input = ($json && typeof $json === 'object' && $json.body && typeof $json.body === 'object')\n  ? $json.body\n  : $json;\n\nreturn [\n  {\n    title: input?.title ?? \"Atlas UX Update\",\n    body: input?.body ?? \"<p>Test post from Atlas UX</p>\",\n    tags: Array.isArray(input?.tags) ? input.tags : [],\n    state: input?.state ?? \"draft\",\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "11a2ebf4-0cf9-4c16-bf3d-ab2c94d4a043",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tumblr.com/v2/blog/atlasux.tumblr.com/post",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "state",
              "value": "={{$json.state}}"
            },
            {
              "name": "title",
              "value": "={{$json.title}}"
            },
            {
              "name": "body",
              "value": "={{$json.body}}"
            },
            {
              "name": "tags",
              "value": "={{$json.tags.join(\",\")}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "b7f98655-e0aa-409a-bb95-82396c9ff8c8",
      "name": "HTTP Request",
      "credentials": {
        "oAuth1Api": {
          "id": "JJKt2UavIG3yoGS9",
          "name": "Tumblr"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{ { ok: true, tumblr: $json } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "id": "respond-to-webhook-1",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3620b6d1-aa89-4291-97d6-2d8ecd6c97d0",
  "meta": {
    "instanceId": "0ab6c930d4b3510bd213503110294aa13c64c39cd77abd213e349cc60c946f9d"
  },
  "id": "ci7yHjBNEHvHYeah",
  "tags": []
}