backend/src/workflows/n8n/social_media/Tumblr_original.json
{
  "name": "Tumblr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "282b6873-5dfc-4c25-ac2f-8417af7a2198",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3bf2f934-a6db-4229-8a59-2b828d054303",
      "name": "Webhook",
      "webhookId": "282b6873-5dfc-4c25-ac2f-8417af7a2198"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "title",
              "newKey": "body"
            },
            {
              "newKey": "tags"
            },
            {
              "currentKey": "state"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "f4cd16b7-19a1-4ba7-82a7-c0f6135c32bc",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "jsCode": "// Normalize payload coming from webhook\n\nconst input = $json;\n\nreturn [\n  {\n    title: input.title ?? \"Atlas UX Update\",\n    body: input.body ?? \"<p>Test post from Atlas UX</p>\",\n    tags: Array.isArray(input.tags) ? input.tags : [],\n    state: input.state ?? \"draft\",\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "11a2ebf4-0cf9-4c16-bf3d-ab2c94d4a043",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.tumblr.com/v2/user/info",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "b7f98655-e0aa-409a-bb95-82396c9ff8c8",
      "name": "HTTP Request",
      "credentials": {
        "oAuth1Api": {
          "id": "JJKt2UavIG3yoGS9",
          "name": "Tumblr"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3620b6d1-aa89-4291-97d6-2d8ecd6c97d0",
  "meta": {
    "instanceId": "0ab6c930d4b3510bd213503110294aa13c64c39cd77abd213e349cc60c946f9d"
  },
  "id": "ci7yHjBNEHvHYeah",
  "tags": []
}